<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0">
	<frontendThemes>
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/Samples/App_Themes/Samples" name="SamplesTheme" />
	</frontendThemes>
</appearanceConfig>