<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0">
	<notifications newPostNotificationTemplateId="f4075640-4511-6fcd-b0e1-ff00000e3bd7" newThreadNotificationTemplateId="f5075640-4511-6fcd-b0e1-ff00000e3bd7" />
</forumsConfig>